<a href="https://colab.research.google.com/github/estebantarrifa07/CSV/blob/main/clase_2026_02_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

# URL de ejemplo de un CSV público en GitHub (dataset 'tips' de seaborn)
#csv_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"

# Leemos el archivo CSV directamente desde la URL
#df_csv = pd.read_csv(csv_url sep = ".")


# Mostramos las primeras filas para verificar
df_csv.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [24]:
# EJEMPLO 2: archivo separado por punto y coma
# Reemplaza esta URL por la de tu archivo TXT en GitHub

txt_url = "https://raw.githubusercontent.com/estebantarrifa07/txt/refs/heads/main/fichero_lab_unir%20TXT.txt"

#leemos el archivo directamente desde la URL
df_txt = pd.read_csv(txt_url, sep=",")
df_txt.head(2)

,Unnamed: 0,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,...,rango_edad,sexo,cod_lesividad,tipo_lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,tipo_vehiculo,lesividad
0,0,2021S000047,01/01/2021,11:38:00,CALL. JOSE BERGAMIN / CALL. FLORENCIO CANO CRI...,62,14,MORATALAZ,Caída,Despejado,...,De 45 a 49 años,Hombre,2.0,Ingreso inferior o igual a 24 horas,446.426.917,4.473.586.644,N,NaN,NaN,NaN
1,1,2021S000142,04/01/2021,11:30:00,PLAZA. GRECIA / AVDA. ARCENTALES wanda farola 20,1,20,SAN BLAS-CANILLEJAS,Caída,Despejado,...,De 15 a 17 años,Hombre,14.0,Sin asistencia sanitaria,448.606.811,4.476.216.426,N,NaN,NaN,NaN

In [23]:
df_txt.tail(5)

,Unnamed: 0,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,...,rango_edad,sexo,cod_lesividad,tipo_lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,tipo_vehiculo,lesividad
2344,621,2023S030752,29/09/2023,22:50:00,CALL. CARTAGENA / CALL. LUIS VIVES,164,5,CHAMARTÍN,Caída,Despejado,...,Desconocido,Desconocido,NaN,NaN,442599.987,4477208.697,N,NaN,Bicicleta,NaN
2345,622,2023S030814,30/09/2023,12:10:00,FAROLA 1,0,20,SAN BLAS-CANILLEJAS,Caída,Despejado,...,De 50 a 54 años,Hombre,2.0,NaN,448768.685,4477719.185,N,NaN,Bicicleta,Ingreso inferior o igual a 24 horas
2346,623,2023S030844,30/09/2023,22:55:00,"CALL. DOCTOR CORTEZO, 8",8,1,CENTRO,Caída,Despejado,...,De 25 a 29 años,Hombre,2.0,NaN,440288.901,4473866.531,N,NaN,Bicicleta,Ingreso inferior o igual a 24 horas
2347,624,2023S030927,30/09/2023,22:00:00,CALL. VIA CARPETANA / PASEO. ERMITA DEL SANTO,43,11,CARABANCHEL,Caída,Despejado,...,De 15 a 17 años,Hombre,7.0,NaN,438474.734,4473012.566,N,NaN,Bicicleta EPAC (pedaleo asistido),Asistencia sanitaria sólo en el lugar del acci...
2348,625,2023S031193,29/09/2023,9:55:00,CALL. PIRINEOS / CALL. VALLE DE ARAN,1,9,MONCLOA-ARAVACA,Caída,Despejado,...,De 18 a 20 años,Hombre,2.0,NaN,438780.513,4478556.665,N,NaN,Bicicleta,Ingreso inferior o igual a 24 horas

In [19]:
df_txt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            2349 non-null   int64
 1   num_expediente        2349 non-null   object
 2   fecha                 2349 non-null   object
 3   hora                  2349 non-null   object
 4   localizacion          2349 non-null   object
 5   numero                2349 non-null   object
 6   cod_distrito          2349 non-null   int64
 7   distrito              2349 non-null   object
 8   tipo_accidente        2349 non-null   object
 9   estado_meteorológico  2265 non-null   object
 10  tipo_vehículo         845 non-null    object
 11  tipo_persona          2349 non-null   object
 12  rango_edad            2349 non-null   object
 13  sexo                  2349 non-null   object
 14  cod_lesividad         2004 non-null   float64
 15  tipo_lesividad        730 non-null    object
 16  coordenada_x_utm      2349 non-null   object
 17  coordenada_y_utm      2349 non-null   object
 18  positiva_alcohol      2345 non-null   object
 19  positiva_droga        4 non-null      float64
 20  tipo_vehiculo         1504 non-null   object
 21  lesividad             1274 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 403.9+ KB

In [21]:
df_txt.isna().sum()

Unnamed: 0                 0
num_expediente             0
fecha                      0
hora                       0
localizacion               0
numero                     0
cod_distrito               0
distrito                   0
tipo_accidente             0
estado_meteorológico      84
tipo_vehículo           1504
tipo_persona               0
rango_edad                 0
sexo                       0
cod_lesividad            345
tipo_lesividad          1619
coordenada_x_utm           0
coordenada_y_utm           0
positiva_alcohol           4
positiva_droga          2345
tipo_vehiculo            845
lesividad               1075
dtype: int64

In [28]:
df_txt["tipo_vehiculo"].unique()

array([nan, 'Bicicleta EPAC (pedaleo asistido)', 'Bicicleta'],
      dtype=object)

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns
txt_url = "https://raw.githubusercontent.com/estebantarrifa07/txt/refs/heads/main/fichero_lab_unir%20TXT.txt"

# leemos el archivo CSV directamente desde la URL

df_txt = pd.read_csv(txt_url, sep=",",)
df_txt.groupby("sexo").size().plot(kind="barh") , color=sns.palettes.mpl_palette()

El signo de exclamación `!` al principio de la línea le indica a Colab que ejecute el comando como si fuera un comando de shell. Después de la instalación, puedes importar la biblioteca y usarla en tu código.